*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 20px 0;
}

.Leyend h2 {
  padding: 0;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: "Mukta", sans-serif;
}

section h2 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.Header {
  height: 10vh;
  min-height: 60px;
  max-height: 120px;
  padding: 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 300;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Header .Logo {
  height: 40px;
}

.Header .Logo img {
  height: 100%;
  width: auto;
}

.Header .Menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.Header .Menu a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}

.Header.white {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 10px 4px #3e3e3e4d;
          box-shadow: 1px 1px 10px 4px #3e3e3e4d;
}

.Header.white .Menu a {
  color: #114477;
}

.Header.white .Menu a:hover {
  color: #00AFB7;
}

.Header #Call {
  position: fixed;
  z-index: 10000;
  top: 120px;
  padding: 10px 10px 10px 25px;
  border-radius: 10px 0 0 10px;
  background: #00AFB7;
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: -250px;
  -webkit-box-shadow: -7px 10px 36px -6px #3e3e3e4d;
          box-shadow: -7px 10px 36px -6px #3e3e3e4d;
}

.Header #Call .Call-Text {
  color: #ffffff;
  text-decoration: none;
}

.Header #Call .Call-Complement {
  display: inline-block;
  width: 250px;
  padding-right: 70px;
  visibility: hidden;
}

.Header #Call:hover {
  right: 0;
}

.Header #Call:hover .Call-Complement {
  visibility: initial;
}

.Footer {
  position: relative;
  z-index: 10;
  background: #282828;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00AFB7;
}

.Footer .Footer-Section {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33.33333%;
  border-right: 1px solid #00AFB7;
}

.Footer .Footer-Section:last-child {
  border: none;
}

.Footer .Footer-Item {
  margin-bottom: 40px;
}

.Footer .Footer-Item:last-child {
  margin: 0;
}

.Footer .item-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.Footer .item-title .item-message {
  font-weight: normal;
  font-style: italic;
  font-size: .8rem;
}

.Footer .line {
  display: inline-block;
  margin: 5px 0;
}

.Footer .line-text {
  color: #ffffff;
}

.Footer .line-icon {
  display: inline-block;
  width: 12px;
  margin-right: 3px;
}

.Footer .line-icon.redes {
  margin: 12px;
  width: 50px;
  height: 50px;
}

.Footer .line-title {
  color: #00AFB7;
  text-decoration: none;
  display: inherit;
  text-transform: uppercase;
}

.Footer a.item-title, .Footer a.item-title:hover {
  color: #ffffff;
}

a.underline {
  text-decoration: none !important;
}

a.underline:after {
  content: "";
  display: block;
  width: 60%;
  height: 1.2px;
  background: transparent;
  position: relative;
  left: -50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

a.underline:hover {
  color: #00AFB7;
}

a.underline:hover:after {
  background: #00AFB7 !important;
  left: 0;
}

a.underline.center:after {
  margin: auto;
}

img.gray-scale {
  -webkit-filter: grayscale(100%) brightness(120%);
          filter: grayscale(100%) brightness(120%);
}

.hidden {
  display: none;
}

.text-white {
  color: #ffffff;
}

.text-blue {
  color: #136380;
}

.text-green {
  color: #00AFB7;
}

.Over {
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}

.Flip-Card {
  background: transparent !important;
}

.Flip-Card .Card {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: block;
}

.Flip-Card:hover .Card {
  -webkit-transform: rotateY(180deg) scale(1.1);
          transform: rotateY(180deg) scale(1.1);
  -webkit-box-shadow: -2px 2px 11px -2px #3e3e3e;
          box-shadow: -2px 2px 11px -2px #3e3e3e;
  z-index: 10;
}

.Flip-Card .Card-Face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.Flip-Card .Card-Face.Back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.Flip-Card .Card-Face.Back:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #136380;
  opacity: .8;
}

.Flip-Card .Card-Face.Front {
  overflow: hidden;
}

.Flip-Card .Card-Face .Card-Text {
  min-height: 50%;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-size: 12px;
}

.Flip-Card .Card-Face .Card-Text .date {
  text-align: left;
  font-size: .9rem;
}

.Flip-Card .Card-Face .Card-Text h3 {
  font-family: "Mukta", sans-serif;
}

.Flip-Card .Card-Face .Card-Text .link {
  background: #00AFB7;
  padding: 4px;
  display: inline-block;
}

.Slide-Container {
  padding: 0 100px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
}

.Slide-Container .Slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  z-index: 10;
  color: #fff;
  font-family: Courier;
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}

.Slide-Container .Slide:after {
  content: "";
  display: block;
  background: #114477;
  position: absolute;
  z-index: 120;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.Slide-Container .Slide h1 {
  font-size: 40px;
  font-weight: lighter;
}

.Slide-Container .Slide a {
  font-size: 32px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.Slide-Container .Slide-Item {
  position: relative;
}

.Slide-Container .Slide-Item.active img {
  z-index: 10;
}

.Slide-Container .Slide-Item .Slide-Item-Background {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: auto;
  z-index: 1;
  background-color: #ffffff;
}

.Slide-Container .Slide-Item .Slide-Item-Complement {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 2;
  margin: 50px 100px;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.top {
  top: 0;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.bottom {
  bottom: 0;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.left {
  left: 0;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.right {
  right: 0;
}

.Slide-Container .Slide-Item .Leyend {
  z-index: 2000 !important;
  top: auto !important;
  left: 0;
  bottom: 0;
  padding-bottom: 50px;
  width: 50% !important;
  text-align: left;
}

.Slide-Container .Icon {
  z-index: 20;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-decoration: none;
}

.Slide-Container .Icon img {
  width: 100%;
  height: auto;
}

.Slide-Container .Circles {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 100px;
  margin-bottom: 50px;
  padding: 5px;
  z-index: 10;
}

.Slide-Container .Circles .Circle-Item {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.Slide-Container .Circles .Circle-Item.active {
  background: #00AFB7;
}

#medalla {
  position: absolute;
  width: 30%;
  z-index: 150;
  height: auto;
  max-width: 100px;
  right: 150px;
  bottom: 100px;
}

#medalla img {
  width: 100%;
}

#logo-header {
  width: 50%;
  height: auto;
  left: 50%;
  top: 50%;
  z-index: 140;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

#logo-header.scale {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.Clients {
  background-color: #00AFB7 !important;
  overflow: hidden;
}

.Clients .Client-List {
  width: 150%;
  height: 100px;
}

.Clients .Client-List .Icon {
  height: 100%;
  padding: 25px;
  width: 16.6666%;
  float: left;
  text-align: center;
}

.Clients .Client-List img {
  height: 100%;
  width: auto;
}

.Services {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left center;
  background-attachment: fixed;
}

.Services > section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Services .Description, .Services .List {
  background: white;
  width: 50%;
}

.Services .Description {
  position: relative;
  padding: 120px 25px 120px 100px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  left: 0;
}

.Services .Description.hide {
  left: 100%;
}

.Services .List {
  z-index: 10;
  padding: 120px 100px 120px 25px;
}

.Services #Services-Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Services #Services-Nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.Services #Services-Nav li {
  width: 20%;
  list-style: none;
  margin: 12px 5px;
}

.Services #Services-Nav a {
  display: block;
  text-align: center;
  width: 90px;
  height: 90px;
  text-decoration: none;
  padding: 15px;
  border-radius: 10%;
  -webkit-transition: -webkit-transform .7s ease;
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .7s ease;
}

.Services #Services-Nav a:hover, .Services #Services-Nav a.clicked {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: #00AFB7;
}

.Services #Services-Nav a:hover img, .Services #Services-Nav a.clicked img {
  -webkit-filter: brightness(2500%);
          filter: brightness(2500%);
}

.Services #Services-Nav img {
  height: 100%;
}

.News {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.News > p {
  text-align: center;
  margin: 0;
}

.News:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00AFB7;
  mix-blend-mode: multiply;
  z-index: -1;
}

.News .Last-News {
  width: 100%;
  height: 55%;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.News .News-Container {
  height: 100%;
  width: 700px;
  position: absolute;
  top: -50%;
  left: 50%;
  margin-left: -350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.News .News-Container .New {
  width: 33.3333%;
  background: blue;
  margin: 5px;
  background-position: top left;
  cursor: pointer;
}

.News .Ver-Mas {
  position: absolute;
  bottom: 35%;
  text-align: center;
  width: 100%;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
}

.Related {
  padding: 0 120px 15px;
}

.Related div {
  max-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Related img {
  margin: 0 15px;
}
/*# sourceMappingURL=main.css.map */