*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-size: 16px;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1650px) {
  body, html {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 2000px) {
  main, footer {
    max-width: 2000px;
    margin: auto;
  }
}

h1, h2 {
  font-size: 2rem;
  padding: 1rem 0;
  margin: 0;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: "Mukta", sans-serif;
}

section h2 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.page_item a,
a.underline {
  text-decoration: none !important;
}

.page_item a:after,
a.underline:after {
  content: "";
  display: block;
  width: 60%;
  height: 1.2px;
  background: transparent;
  position: relative;
  left: -50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.page_item a:hover,
a.underline:hover {
  color: #00AFB7;
}

.page_item a:hover:after,
a.underline:hover:after {
  background: #00AFB7 !important;
  left: 0;
}

.page_item a:after,
a.underline.center:after {
  margin: auto;
}

img.gray-scale {
  -webkit-filter: grayscale(100%) brightness(120%);
          filter: grayscale(100%) brightness(120%);
}

.hidden {
  display: none;
}

.text-white {
  color: #ffffff;
}

.text-blue {
  color: #136380;
}

.text-green {
  color: #00AFB7;
}

.Over {
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}

.Header {
  height: 6.5rem;
  padding: 0.5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 300;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Header .Logo {
  height: 3.5rem;
}

.Header .Logo img {
  height: 100%;
  width: auto;
}

.Header .Menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.Header .Menu a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: .25rem 1.25rem;
}

.Header.white {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 10px 4px #3e3e3e4d;
          box-shadow: 1px 1px 10px 4px #3e3e3e4d;
}

.Header.white .Menu a {
  color: #114477;
}

.Header.white .Menu a:hover {
  color: #00AFB7;
}

.Header #Call {
  position: absolute;
  z-index: 1000;
  top: 7rem;
  padding: 0 1rem 0 1.5rem;
  border-radius: .5rem 0 0 .5rem;
  background: #00AFB7;
  font-family: "Mukta", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: -20.75rem;
  height: 3.15rem;
  -webkit-box-shadow: -7px 10px 36px -6px #3e3e3e4d;
          box-shadow: -7px 10px 36px -6px #3e3e3e4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 2000px) {
  .Header #Call {
    right: 0;
  }
}

.Header #Call .Call-Text {
  color: #ffffff;
  text-decoration: none;
}

.Header #Call .Call-Complement {
  display: inline-block;
  width: 20.75rem;
  padding-right: 3.5rem;
  visibility: hidden;
}

@media only screen and (min-width: 2000px) {
  .Header #Call .Call-Complement {
    visibility: initial;
    width: auto;
    padding-right: 1rem;
  }
}

.Header #Call:hover {
  right: 0;
}

.Header #Call:hover .Call-Complement {
  visibility: initial;
}

.Main-Section {
  height: 100vh;
  max-height: 1000px;
  min-height: 300px;
}

.Footer {
  position: relative;
  z-index: 100;
  background: #282828;
  padding: 2.5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00AFB7;
  font-size: .75rem;
}

.Footer .Footer-Section {
  padding: 0 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33.33333%;
  border-right: 1px solid #00AFB7;
}

.Footer .Footer-Section:last-child {
  border: none;
}

.Footer .Footer-Item {
  margin-bottom: 2rem;
}

.Footer .Footer-Item:last-child {
  margin: 0;
}

.Footer .item-title {
  font-weight: bold;
  margin-bottom: .8rem;
}

.Footer .item-title .item-message {
  font-weight: normal;
  font-style: italic;
  font-size: .7rem;
}

.Footer .line {
  display: inline-block;
  margin: .25rem 0;
}

.Footer .line-text {
  color: #ffffff;
}

.Footer .line-title {
  color: #00AFB7;
  text-decoration: none;
  display: inherit;
  text-transform: uppercase;
}

.Footer a.item-title, .Footer a.item-title:hover {
  color: #ffffff;
}

.line-icon {
  display: inline-block;
  width: .75rem;
  margin-right: .15rem;
}

.line-icon.redes {
  margin: .6rem;
  width: 2.5rem;
  height: 2.5rem;
}

.line-icon.redes:hover {
  opacity: .8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Clients {
  height: 15rem;
  background-color: #00AFB7;
  padding: 1rem 5rem;
}

.Clients .Client-List {
  height: 60%;
  overflow: hidden;
}

.Clients .Client-List .Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1.25rem;
  width: calc(100% / 6);
  float: left;
  text-align: center;
  overflow: hidden;
}

.Services {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left center;
  background-attachment: fixed;
}

.Services > section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Services .Description, .Services .List {
  background: white;
  width: 50%;
}

.Services .Description {
  position: relative;
  padding: 120px 25px 120px 5rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  left: 0;
}

.Services .Description.hide {
  left: 100%;
}

.Services .List {
  z-index: 10;
  padding: 120px 5rem 120px 25px;
}

.Services .List .List-Description {
  text-align: center;
  color: #00AFB7;
  font-style: italic;
}

.Services #Services-Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Services #Services-Nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.Services #Services-Nav li {
  list-style: none;
  margin: .8rem 1.5rem;
}

@media only screen and (min-width: 1440px) {
  .Services #Services-Nav li {
    margin: .8rem 2rem;
  }
}

.Services #Services-Nav a {
  display: block;
  text-align: center;
  width: 7rem;
  height: 7rem;
  text-decoration: none;
  padding: 0.75rem;
  border-radius: 10%;
  -webkit-transition: -webkit-transform .7s ease;
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .7s ease;
}

.Services #Services-Nav a:hover, .Services #Services-Nav a.clicked {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: #00AFB7;
}

.Services #Services-Nav a:hover img, .Services #Services-Nav a.clicked img {
  -webkit-filter: brightness(2500%);
          filter: brightness(2500%);
}

.Services #Services-Nav img {
  height: 100%;
}

.News {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
}

.News > p {
  text-align: center;
  margin: 0;
}

.News:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00AFB7;
  mix-blend-mode: multiply;
  z-index: -1;
}

.News .News-Container {
  height: 50vh;
  max-height: 600px;
  width: 60%;
  min-width: 700px;
  margin: 4rem auto 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.News .News-Container:after {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  left: 50%;
  top: 50%;
  margin-left: -50vw;
  z-index: -1;
}

.News .News-Container .New {
  width: 33.3333%;
  margin: .25rem;
  background-position: top left;
  cursor: pointer;
}

.News .Ver-Mas {
  margin: 2.5rem 0;
  text-align: center;
  width: 100%;
  font-family: "Mukta", sans-serif;
}

.Related {
  padding: 0 120px 15px;
  height: 12rem;
}

.Related div {
  max-width: 40rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Related img {
  margin: 0 1rem;
}

.Contacto {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  display: none;
}

.Contacto .Contacto-Container {
  color: #ffffff;
  width: 90%;
  max-width: 500px;
  background: rgba(0, 175, 183, 0.6);
  height: 100%;
  float: right;
  padding: 100px 50px;
  font-size: 20px;
}

.Contacto .Contacto-Header {
  font-weight: 700;
}

.Contacto .Contacto-Header span {
  font-size: 12px;
  font-style: italic;
}

.Contacto #Contacto-close {
  display: block;
  width: 50px;
  height: 50px;
  right: 0;
  position: absolute;
  top: 20px;
  margin: 20px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}

.modal {
  position: fixed;
  background: #00000059;
  border-radius: .2em;
  width: 60%;
  height: 60%;
  padding: 2em;
  top: 50vh;
  right: 50vw;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal-content {
  height: 100%;
}

.modal-content-text {
  height: 100%;
  overflow: hidden;
}

#close {
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  right: -100%;
}

.closed {
  display: none;
}

.Form {
  padding: 1rem 0;
}

.Form .Form-Container {
  width: 100%;
  position: relative;
  padding: .75rem 0 1.5rem;
  margin: .5rem;
}

.Form .Form-Container label {
  position: absolute;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  top: initial;
  bottom: 0;
  padding-bottom: .5rem;
}

.Form .Form-Container label.focused {
  font-size: .6rem;
  bottom: initial;
  top: 0;
}

.Form .Form-Container button {
  cursor: pointer;
  background: transparent;
  color: white;
  border: 2px solid #ffffff;
}

.Form .Form-Control {
  width: 100%;
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  left: 0;
}

.Form .Form-Control:focus {
  outline: none;
}

.Form select.Form-Control {
  color: white;
}

.Form select.Form-Control:active {
  background: #46b1bc;
}

.Slide-Container {
  padding: 0 5rem;
  margin: 0;
  overflow: hidden;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Slide-Container.Slide-Filter .Slide:after {
  content: "";
  display: block;
  background: #114477;
  position: absolute;
  z-index: 120;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.Slide-Container .Slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px 0;
  text-align: center;
  z-index: 10;
  color: #fff;
  font-family: Courier;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}

.Slide-Container .Slide h1 {
  font-size: 40px;
  font-weight: lighter;
}

.Slide-Container .Slide a {
  font-size: 32px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.Slide-Container .Slide-Item {
  position: relative;
  text-align: center;
  padding: 1.4rem;
}

.Slide-Container .Slide-Item.active img {
  z-index: 10;
}

.Slide-Container .Slide-Item .Slide-Item-Background {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: auto;
  z-index: 1;
  background-color: #ffffff;
}

.Slide-Container .Slide-Item .Slide-Item-Complement {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 2;
  margin: 50px 5rem;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.top {
  top: 0;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.bottom {
  bottom: 0;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.left {
  left: 0;
}

.Slide-Container .Slide-Item .Slide-Item-Complement.right {
  right: 0;
}

.Slide-Container .Slide-Item .Leyend {
  z-index: 2000;
  top: auto;
  left: 0;
  bottom: 0;
  padding-bottom: 50px;
  width: 40%;
  text-align: left;
}

.Slide-Container .Slide-Item .Leyend h2 {
  font-size: 1.15rem;
  padding: 0;
  text-align: left;
}

.Slide-Container .Icon {
  z-index: 20;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-decoration: none;
}

.Slide-Container .Icon img {
  width: 100%;
  height: auto;
}

.Slide-Container .Circles {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 8rem;
  margin-bottom: 2rem;
  z-index: 10;
}

.Slide-Container .Circles .Circle-Item {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background: #ffffff;
  border-radius: 50%;
  margin: .75rem;
  cursor: pointer;
}

.Slide-Container .Circles .Circle-Item.active {
  background: #00AFB7;
}

#medalla {
  position: absolute;
  width: 10rem;
  z-index: 150;
  height: auto;
  right: 10rem;
  bottom: 6rem;
}

#medalla img {
  width: 100%;
}

#logo-header {
  width: 50%;
  height: auto;
  left: 50%;
  top: 50%;
  z-index: 140;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

#logo-header.scale {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#scroll {
  position: absolute;
  z-index: 10000;
  width: 2rem;
  bottom: 0;
  left: 50%;
  display: block;
  margin-left: -1rem;
  margin-bottom: 3.5rem;
}

.Flip-Card {
  background: transparent !important;
}

.Flip-Card .Card {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: block;
}

.Flip-Card:hover .Card {
  -webkit-transform: rotateY(180deg) scale(1.1);
          transform: rotateY(180deg) scale(1.1);
  -webkit-box-shadow: -2px 2px 11px -2px #3e3e3e;
          box-shadow: -2px 2px 11px -2px #3e3e3e;
  z-index: 10;
}

.Flip-Card .Card-Face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.Flip-Card .Card-Face.Back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.Flip-Card .Card-Face.Back:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #136380;
  opacity: .8;
}

.Flip-Card .Card-Face.Front {
  overflow: hidden;
}

.Flip-Card .Card-Face .Card-Text {
  min-height: 50%;
  padding: .5rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-size: 12px;
}

.Flip-Card .Card-Face .Card-Text .date {
  text-align: left;
  font-size: .9rem;
}

.Flip-Card .Card-Face .Card-Text h3 {
  font-family: "Mukta", sans-serif;
}

.Flip-Card .Card-Face .Card-Text .link {
  background: #00AFB7;
  padding: .2rem;
  display: inline-block;
}

.preload {
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #114477;
  background-blend-mode: multiply;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preload .loader {
  position: relative;
  width: 120px;
  margin: 100px auto 0;
}

.preload .loader > div:nth-child(1) {
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-animation: outer 1s infinite linear;
          animation: outer 1s infinite linear;
}

.preload .loader > div:nth-child(2) {
  border-radius: 50%;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  -webkit-animation: inner 1s infinite linear;
          animation: inner 1s infinite linear;
  position: relative;
  top: -80px;
}

.preload.yellow .loader > div:nth-child(1), .preload.yellow .loader > div:nth-child(2) {
  border: 10px solid rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 30px #ffffff;
          box-shadow: 0 0 30px #ffffff;
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-left: 10px solid rgba(0, 0, 0, 0);
}

.preload.red .loader > div:nth-child(1), .preload.red .loader > div:nth-child(2) {
  border: 10px solid rgba(223, 40, 38, 0.9);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-left: 10px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 30px #df2826;
          box-shadow: 0 0 30px #df2826;
}

.preload.hidden {
  display: none;
}

@-webkit-keyframes outer {
  0% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
            transform: rotate(-320deg);
    opacity: 0;
  }
}

@keyframes outer {
  0% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
            transform: rotate(-320deg);
    opacity: 0;
  }
}

@-webkit-keyframes inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.heartbeat {
  -webkit-animation: heartbeat 2.2s ease-in-out infinite both;
          animation: heartbeat 2.2s ease-in-out infinite both;
}

.bounce {
  -webkit-animation: bounce 1.8s ease-in infinite both;
          animation: bounce 1.8s ease-in infinite both;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0;
  }
  15% {
    bottom: 20px;
  }
  30% {
    bottom: -10px;
  }
  45% {
    bottom: 20px;
  }
  60% {
    bottom: -10px;
  }
  75% {
    bottom: 0;
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  15% {
    bottom: 20px;
  }
  30% {
    bottom: -10px;
  }
  45% {
    bottom: 20px;
  }
  60% {
    bottom: -10px;
  }
  75% {
    bottom: 0;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@media only screen and (min-width: 2000px) {
  header, .Slide-Container .Slide-Item .Slide-Item-Background {
    max-width: 2000px;
    left: 50%;
    margin-left: -1000px;
  }
}
/*# sourceMappingURL=main.css.map */