
$font-title     : 'Mukta', sans-serif;
$font-main      : 'Open Sans', sans-serif;
$icon-size      : 35px;

$white          : #ffffff;
$black          : #282828;

$green          : #0B5D55;
$light-green    : #00AFB7;
$ligth-blue     : #136380;
$blue           : #114477;

$slideTransition: 0.5s ease-out;

@import "partials/base";
@import "partials/header";
@import "partials/footer";
@import "partials/global";
@import "partials/slider";
@import "partials/clients";
@import "partials/sections";


