//breakpoints
$breakpoints: (
    "phone-small":          300px,
    "phone":                400px,
    "phone-wide":           480px,
    "phablet":              560px,
    "tablet-small":         640px,
    "tablet":               768px,
    "tablet-wide":          1024px,
    "desktop":              1248px,
    "desktop-wide":         1440px,
    "desktop-large":        1650px,
    "desktop-extra-large":  2000px
);

// Fuentes
$font-title     : 'Mukta', sans-serif;
$font-main      : 'Open Sans', sans-serif;
$font-size-main : 16px;

// Definición de colores

$white          : #ffffff;
$black          : #282828;

$light-green    : #00AFB7;
$ligth-blue     : #136380;
$blue           : #114477;

// Otras variables

$slideTransition: 0.5s ease-out; // animación del slider
$padding-body-desktop   : 5rem; // padding a los lados
$padding-body-phone     : 2rem; // padding a los lados
$icon-size      : 35px;  // tamaño de los iconos
$body-max-width : 2000px;



@import "core/mixins";
@import "core/extends";
@import "core/flexbox";

@import "partials/base";

@import "partials/global";

@import "partials/header";
@import "partials/footer";
@import "partials/clients";
@import "partials/services";
@import "partials/news";
@import "partials/related";
@import "partials/contacto";
@import "partials/tags";
@import "partials/articles";
@import "partials/nosotros";
@import "partials/menu";
@import "partials/covid";

@import "core/modal";
@import "core/forms";
@import "core/divine_slider";
@import "core/flipcard";
@import "core/preload";
@import "core/animations";
@import "core/queries";
@import "core/owl_carousel";
@import "core/break_points";



