
$font-title     : 'Mukta', sans-serif;
$font-main      : 'Open Sans', sans-serif;

$white          : #ffffff;
$black          : #282828;

$green          : #0B5D55;
$light-green    : #13B7AB;
$ligth-blue     : #336699;
$blue           : #114477;


@import "partials/base";
@import "partials/header";
@import "partials/footer";
@import "partials/global";
@import "partials/slider";


