.to-tablet {
    @include query('tablet') {
        display: none !important;
    }
}

.to-tablet-wide {
    @include query('tablet-wide') {
        display: none !important;
    }
}

.from-tablet-wide {
    @include query('tablet-wide', max) {
        display: none !important;
    }
}