.Slide-Container {
    padding: 0 $padding-body;
    margin: 0;
    overflow: hidden;
    height: 100%;
    position: relative;

    .Section-Container {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.Slide-Filter .Slide:after {
        content:"";
        display: block;
        background: $blue;
        position: absolute;
        z-index: 120;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
    }

    .Slide {
        position: absolute; 
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
		padding: 12px 0;
		text-align: center;
		z-index: 10;
		color: #fff;
        overflow: hidden;
        display: flex;
        transition: left $slideTransition;

        h1 { 
            font-size: 40px; 
            font-weight: lighter; 
        }

        a {
            font-size: 32px;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid $white;
            color: $white;
        }
    }

    .Slide-Item {
        position: relative;
        text-align: center;
        padding: 1.4rem;
        

        &.active img{
            z-index: 10;
        }

        .Slide-Item-Background {
            position: fixed; 
            top: -10%;
            left: -10%;
            width: 120%;
            height: auto;
            z-index: 1;
            background-color: $white;
        }
        
        .Slide-Item-Complement {
            position: absolute;
            width: auto; 
            height: auto;
            z-index: 2;
            margin: 50px $padding-body;

            &.top{
                top: 0;
            }

            &.bottom{
                bottom: 0;
            }

            &.left{
                left: 0;
            }

            &.right{
                right: 0;
            }
        }

        .Leyend {
            
            max-width: 1000px;
            z-index: 2000;
            top: auto;
            left: 0;
            bottom: 0;
            padding-bottom: 50px;
            width: 40%;
            text-align: left;

            @include query('desktop-extra-large'){
                left: calc(calc(100vw - 2000px) /2);
                
            }

            h2{
                font-size: 1.6rem;
                padding: 1rem 0;
                text-align: left;
            }


        }


    }

    .Icon {
        z-index:20;
        display:inline-block;
        width:$icon-size;
        height:$icon-size;
        cursor: pointer;
        text-decoration: none;

        img{
            width:100%;
            height:auto;
        }
    }

    .Circles {

        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 8rem;
        margin-bottom: 2rem;
        z-index: 100;

        .Circle-Item{
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;
            background: $white;
            border-radius: 50%;
            margin:.75rem;
            cursor: pointer;

            &.active {
                background: $light-green;
            }
        }
    }
}

#medalla{
    position: absolute;
    width: 10rem;
    z-index: 150;
    height: auto;
    right: 10rem;
    bottom: 6rem;

    img {
        width: 100%
    }
}

#logo-header {
    width: 50%;
    max-width: 1500px;
    height: 100%;
    left: 50%;
    z-index: 140;
    transform: scale(0);
    transition: transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;

    img {
        margin: 1rem 0;
    }

    img:last-child{
        max-width: 15rem;
    }

    &.scale {
        transform: scale(1);
    }
}



#scroll {
    position: absolute;
    z-index: 10000;
    width: 2rem;
    bottom: 0;
    left: 50%;
    display: block;
    margin-left: -1rem;
    margin-bottom: 3.5rem;
}