.Slide-Container {
    padding: 0 $padding-body-phone;
    margin: 0;
    overflow: hidden;
    height: 100%;
    position: relative;

    @include query('tablet-small') {
        padding: 0 $padding-body-desktop;
    }

    .Section-Container {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.Slide-Filter {

        .Slide:after {
            content: "";
            display: block;
            background: $blue;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .Slide-Item img {
            opacity: 0;
        }
    }

    .Slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 12px 0;
        text-align: center;
        z-index: 10;
        color: $white;
        overflow: hidden;
        display: flex;
        transition: left $slideTransition;

        h1 {
            font-size: 40px;
            font-weight: lighter;
        }

        a {
            font-size: 32px;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid $white;
            color: $white;
        }
    }

    .Slide-Item {
        position: relative;
        text-align: center;
        padding: 1.4rem;

        &.active img {
            z-index: 10;
            opacity: 1;
        }

        .Slide-Item-Background {
            position: fixed;
            top: calc(-10% + 8rem);

            @include query('tablet-wide') {
                top: -10%;
            }

            left: -10%;
            width: 120%;
            height: auto;
            z-index: 1;
            background-color: $white;
        }

        .Slide-Item-Complement {
            position: absolute;
            width: auto;
            height: auto;
            z-index: 2;
            margin: 50px $padding-body-phone;

            @include query('tablet-small') {
                margin: 50px $padding-body-desktop;
            }

            &.top {
                top: 0;
            }

            &.bottom {
                bottom: 0;
            }

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }

        .Leyend {

            max-width: 1000px;
            z-index: 2000;
            top: auto;
            left: 0;
            bottom: 0;
            padding-bottom: 50px;
            margin: 80px 0;
            padding: 0 $padding-body-phone;
            width: 100%;
            text-align: center;

            /*@include query('tablet', max){
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    
                    position: absolute;
                    height: 200%;
                    background: white;
                    top: 0;
                    z-index: -2;
                }
            }*/

            &.top-leyend {
                top: 30px;

                h2 {
                    color: $light-green;
                }
            }

            @include query('tablet-small') {
                padding: 0 $padding-body-desktop;
            }

            @include query('tablet') {
                &.top-leyend {
                    top: 30px;
                    left: 40px;
                    text-align: left;
                    width: 50%;
                    min-width: 550px;

                    h2 {
                        font-size: 25px;
                        line-height: 31px;
                        text-align: left;
                        width: 25%;
                        min-width: 230px;
                    }
                }
            }


            @include query('tablet-wide') {
                text-align: left;
                width: 50%;
                min-width: 550px;

                h2 {
                    text-align: left;
                }

                &.top-leyend {
                    top: 30px;
                    left: 100px;

                    h2 {
                        font-size: 38px;
                        line-height: 39px;
                    }
                }

            }



            @include query('desktop-wide') {
                &.top-leyend {
                    top: 130px;
                    left: 200px;

                    h2 {
                        font-size: 53px;
                        line-height: 59px;
                        width: 100%;
                    }
                }
            }

            @include query('desktop-extra-large') {
                left: calc(calc(100vw - 2000px) /2);

                &.top-leyend {
                    left: 250px;

                    h2 {
                        font-size: 63px;
                        line-height: 69px;
                        color: $light-green;
                    }
                }
            }

            h2 {
                font-size: 1.6rem;
                padding: 1rem 0;
            }


        }


    }

    .Icon {
        display: none;
        z-index: 20;
        width: $icon-size;
        height: $icon-size;
        cursor: pointer;
        text-decoration: none;

        @include query('tablet') {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

#medalla {
    display: none;
    position: absolute;
    width: 10rem;
    z-index: 150;
    height: auto;
    right: 0;
    bottom: 6rem;

    @include query('tablet-wide') {
        display: block;
    }

    @include query('desktop-wide') {
        right: 10rem;
    }

    img {
        width: 100%
    }
}

#logo-header {
    width: 50%;
    height: 100px;
    top: 40%;
    max-width: 1500px;
    left: 50%;
    z-index: 140;
    transform: scale(0);
    transition: transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-size: .9rem;
    color: white;
    text-decoration: underline;
    min-width: 250px;

    @include query('tablet') {
        font-size: 1.5rem;
    }

    div:first-child img {
        display: none;
    }

    div img {
        margin: 1rem 0;
        width: 100%;
        height: auto;
    }

    div:last-child img {
        max-width: 9rem;
    }

    &.scale {
        transform: scale(1);
    }

    @media only screen and (min-height: 600px) {
        height: 100%;
        margin: 0;
        top: 0;

        div:first-child {
            width: 100%;
        }

        div:first-child img {
            display: inline-block;
        }

        div:last-child img {
            max-width: 15rem;
        }
    }
}

#scroll {
    position: absolute;
    z-index: 10;
    width: 2rem;
    bottom: 0;
    left: 50%;
    display: none;
    margin-left: -1rem;
    margin-bottom: 2rem;

    @include query('tablet-wide') {
        display: block;
    }
}








.umkka-slider {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .slSlider {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .slItems {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .slItem {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        /* Chrome, Safari, Opera */
        backface-visibility: hidden;
    }

    .slText {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        width: 100%;
        // padding: 0 170px;
        text-align: center;
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        color: $white;
        font-size: 30px;
    }

    .slSlider [class*="ctrl"] {

        display: none;
        position: absolute;
        top: 50%;
        color: $white;
        font-size: 85px;
        font-weight: bold;
        margin-top: -42.5px;
        cursor: pointer;

        img {
            width: 48px;
            height: 48px;
        }

        @include query('tablet') {
            display: block;
        }
    }

    .ctrlNext {
        right: 50px;
    }

    .ctrlPrev {
        left: 50px;
    }

    .slItem.active {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }

    .next,
    .prev {
        transition: transform 0.7s ease-in-out;
        -webkit-transition: -webkit-transform 0.7s ease-in-out;
        -moz-transition: -moz-transform 0.7s ease-in-out;
        -o-transition: -o-transform 0.7s ease-in-out;
        -ms-transition: -ms-transform 0.7s ease-in-out;
    }

    .slItem.nextItem {
        opacity: 1;
        visibility: visible;
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
    }

    .slItem.nextItem.next,
    .slItem.prevItem.prev {
        transform: translate3d(0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }

    .slItem.active.next {
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
    }

    .slItem.prevItem {
        opacity: 1;
        visibility: visible;
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
    }

    .slItem.active.prev {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
    }

    .slDots {
        // position: absolute;
        // bottom: 50px;
        // left: 50%;
        // transform: translate(-50%, 0);
        // -webkit-transform: translate(-50%, 0);
        // -moz-transform: translate(-50%, 0);
        // -o-transform: translate(-50%,  0);
        // -ms-transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 0;
        margin-bottom: 2rem;
        z-index: 100;

        @include query('tablet-wide') {
            width: auto;
        }

        @include query('desktop-wide') {
            margin-right: 8rem;
        }

    }

    .slDotsSingle {
        // width: 13px;
        // height: 13px;
        // float: left;
        // border: 2px solid $white;
        // border-radius: 50%;
        // margin-left: 5px;
        // cursor: pointer;
        // transition: background 0.3s ease;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        background: $white;
        border-radius: 50%;
        margin: .75rem;
        cursor: pointer;

        &.active {
            background: $light-green;
        }
    }

    .Slide-Item-Complement {
        position: absolute;
        width: auto;
        height: auto;
        z-index: 2;
        margin: 50px $padding-body-phone;

        @include query('tablet-small') {
            margin: 50px $padding-body-desktop;
        }

        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    .Leyend {
        color: $white;
        max-width: 1000px;
        z-index: 2000;
        top: auto;
        left: 0;
        bottom: 0;
        padding-bottom: 50px;
        margin: 80px 0;
        padding: 0 $padding-body-phone;
        width: 100%;
        text-align: center;
        /*@include query('tablet', max){
            &:after {
                content: "";
                display: block;
                width: 100%;
                
                position: absolute;
                height: 200%;
                background: white;
                top: 0;
                z-index: -2;
            }
        }*/

        &.top-leyend {
            h2 {
                color: $light-green;
            }

            a.wsp {
                position: relative;
                cursor: pointer;
                font-size: 12px;
                border-radius: 6px;
                background: $ligth-blue;
                border: none;
                color: $white;
                padding: 9px 15px !important;
                margin-top: 35px !important;
                display: inline-block;

                &:hover {
                    opacity: .8;
                    text-decoration: none;
                }

                img {
                    width: 30px;
                    position: absolute;
                    top: calc(100% - 13px);
                }
            }
        }


        &.top-leyend {
            top: 70px;
            //left: 25px;
            left: 2px;
            text-align: left;
            width: 50%;
            min-width: 450px;

            h2 {
                font-size: 25px;
                line-height: 31px;
                text-align: left;
                width: 80%;
                min-width: 230px;
            }
        }

        @include query('tablet-small') {
            padding: 0 $padding-body-desktop;
        }

        @include query('tablet') {
            &.top-leyend {
                top: 100px;
                left: 60px;
                text-align: left;
                width: 50%;
                min-width: 550px;

                h2 {
                    font-size: 25px;
                    line-height: 31px;
                    text-align: left;
                    width: 80%;
                    min-width: 230px;
                }
            }
        }


        @include query('tablet-wide') {
            text-align: left;
            width: 50%;
            min-width: 550px;

            h2 {
                text-align: left;
            }

            &.top-leyend {
                left: 100px;

                h2 {
                    font-size: 38px;
                    line-height: 39px;
                }
            }

        }



        @include query('desktop-wide') {
            &.top-leyend {
                top: 130px;
                left: 200px;

                h2 {
                    font-size: 53px;
                    line-height: 59px;
                    width: 100%;
                }
            }
        }

        @include query('desktop-extra-large') {
            left: calc(calc(100vw - 2000px) /2);

            &.top-leyend {
                left: 250px;

                h2 {
                    font-size: 63px;
                    line-height: 69px;
                    color: $light-green;
                }
            }
        }

        h2 {
            font-size: 1.6rem;
            padding: 1rem 0;
        }
    }
}