.Form {

    padding: 1rem 0;
    display: flex;
    flex-direction: column;

    .Form-Container {
        width: 100%;
        position: relative;
        padding: .75rem 0 1.5rem;
        margin: .5rem;

        label {
            position: absolute;
            transition: all .4s ease;
            top: initial;
            bottom: 0;
            padding-bottom: .5rem;
            &.focused   {
                font-size: .6rem;
                bottom: initial;
                top: 0;
            }
        }

        button {
            cursor: pointer;
            background: transparent;
            color: white;
            border: 2px solid $white;
        }
    }

    .Form-Control {
        
        width: 100%;
        color:white;
        background: none;
        border: none;
        border-bottom: 1px solid $white;
        position: absolute;
        left: 0;
        
        &:focus {
            outline: none;
        }
    }

    select.Form-Control {
        color: white;
        &:active {
            background: #46b1bc;
        }
    }

}

.mui-textfield>input:invalid:not(:focus):not(:required), 
.mui-textfield>input:invalid:not(:focus):required.mui--is-empty.mui--is-touched, 
.mui-textfield>input:invalid:not(:focus):required.mui--is-not-empty, 
.mui-textfield>input:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), 
.mui-textfield>input:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty), 
.mui-textfield>input:not(:focus).mui--is-invalid:not(:required), .mui-textfield>input:not(:focus).mui--is-invalid:required.mui--is-empty.mui--is-touched, 
.mui-textfield>input:not(:focus).mui--is-invalid:required.mui--is-not-empty, .mui-textfield>input:not(:focus).mui--is-invalid:required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), 
.mui-textfield>input:not(:focus).mui--is-invalid:required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty), 
.mui-textfield>textarea:invalid:not(:focus):not(:required), .mui-textfield>textarea:invalid:not(:focus):required.mui--is-empty.mui--is-touched, 
.mui-textfield>textarea:invalid:not(:focus):required.mui--is-not-empty, .mui-textfield>textarea:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), 
.mui-textfield>textarea:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty), 
.mui-textfield>textarea:not(:focus).mui--is-invalid:not(:required), .mui-textfield>textarea:not(:focus).mui--is-invalid:required.mui--is-empty.mui--is-touched, 
.mui-textfield>textarea:not(:focus).mui--is-invalid:required.mui--is-not-empty, .mui-textfield>textarea:not(:focus).mui--is-invalid:required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), 
.mui-textfield>textarea:not(:focus).mui--is-invalid:required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty),
.mui-textfield>input, 
.mui-textfield>textarea, 
.mui-select>select {
    border-bottom: 1px solid $white;
    color: $white;

    &:focus {
        border-color: $white; 
    }
}

.mui-select:focus>select{
    border-color: $white; 
}

.mui-btn {
    background: $light-green;
    color: $white;
    border: 1px solid $white;
}

.mui-textfield--float-label>label, 
.mui-textfield>input:focus~label, 
.mui-textfield>textarea:focus~label,
.mui-select:focus>label, 
.mui-select>select:focus~label,
.mui-select>label {
    color:$white;
}

.mui-select__menu {
    background: $light-green;
}

.mui-select__menu>div.mui--is-selected,
.mui-select__menu>div:not(.mui-optgroup__label):not(.mui--is-disabled):hover{
    background: lighten($light-green, 5%);
}