
@mixin query($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin pseudo($display : 'block', $pos : 'absolute', $content : ''){
    content : $content;
    display: $display;
    position: $pos;
}

@mixin white_bar_menu(){
    background-color: $white;
    box-shadow: 1px 1px 10px 4px #3e3e3e4d;
    .Menu {
        a {
            color:$blue;
            &:hover {
                color:$light-green;
            }
        }
    }

    .Menu-Dropdown svg{
        fill: $ligth-blue;
    }

    #White-Logo {
        display: none;
    }

    #Color-Logo {
        display: block;
    }
    
}