.item{
    max-height: 350px;
    opacity:0.4;
    transition:.4s ease all;
    margin:0 20px;
    transform:scale(.8);
    overflow: hidden;
    border: 1px solid gray;
}
@media(max-width:1000px){
    .item{margin:0; transform:scale(.8)}
}
  .active .item{
    opacity:1;
    transform:scale(1);
  } 
  
  .owl-item {
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.0, 1.0);
  }
  
  .inner{
      position:absolute; bottom:0; left:0;
      background: white;
      width: 100%;
      height: 40%;
      padding:15px;
      text-align: left;
      h2 {
          text-align: left;
      }
    }
  .inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
  .inner a:hover{border-color:#fff;}
  .black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
  .black .inner a:hover{border-color:#000;}
  
  .owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none;
  }
  
  .owl-controls{position:absolute; margin-top:300px;}
