@media (min-width: 2000px) {
    main,footer {
        max-width: 2000px;
        margin: auto;
    }

    header, .Slide-Container .Slide-Item .Slide-Item-Background {
        max-width: 2000px;
        left:50%;
        margin-left: -1000px;
    }
}

