*,*:before,*:after{
    box-sizing: border-box;
}

body, html {
    font-size: $font-size-main;
    background-color: $white;
    font-family: $font-main;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 2rem;
    padding: 1rem 0;
    margin: 0;
}

.Leyend h2{
    font-size: 1.15rem;
    padding: 0;
} 

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1, h2, h3{
    font-family: $font-title;
}

section h2 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

