*,*:before,*:after{
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: $white;
    font-family: $font-main;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h1, h2, .Leyend h2{
    font-family: $font-title;
}

section h2 {
    text-align: center;
}



