.Clients{

    height: 15rem;
    background-color: $light-green;
    padding: 1rem $padding-body;

    .Client-List{
        height: 60%;
        overflow: hidden;

        .Icon {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 25px;
            width: calc(100% / 6);
            float: left;
            text-align: center;
            overflow: hidden;
        }
    }
}