.Clients{

    height: 15rem;
    background-color: $light-green;
    padding: .6rem $padding-body-phone;
    @include query('tablet-small'){
        padding: 1rem $padding-body-desktop;
    }

    .Client-List{
        height: 60%;
        overflow: hidden;

        .Icon {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 1.25rem;
            width: calc(100% / 6);
            float: left;
            text-align: center;
            overflow: hidden;
        }
    }
}