.Contacto {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;

    &.static {
        position: static;
        right: 0;
        margin: auto;
        text-align: left;
        height: auto;
    }

    @include query('phone-wide'){
        width: 90%;
        max-width: 500px;
    }
    
    background: none;
    transition: right 1s ease;

    .Contacto-Container {
        color: $white;
        width: 100%;
        background: rgba($light-green, .85);
        height: 100%;
        padding: 80px 50px;
        font-size: 20px;
    }

    &.active {
        right: 0;   
    }

    .Contacto-Header {
        font-weight: 700;
        span {
            font-size: 12px;
            font-style: italic;
        }
    }

    #Contacto-close {
        display: block;
        width: 50px;
        height: 50px;
        right: 0;
        position: absolute;
        top: 20px;
        margin: 20px;
    }

    .mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label,
    .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label,
    .mui-textfield--float-label > label, 
    .mui-textfield > input:focus ~ label, 
    .mui-textfield > textarea:focus ~ label, 
    .mui-select:focus > label, 
    .mui-select > select:focus ~ label, 
    .mui-select > label{
        color: white !important;
        overflow: hidden;
    }

    .muicss-input-file {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid;
        font-size: 1rem;
        padding-top: 15px;
        margin-bottom: 20px;
        cursor: pointer;

        input {
            opacity: 0;
            transform: scale(4);
            position: absolute;
            z-index: 10;
            cursor: pointer;
            right: 50%;
            height: 100%;
            width: 100%;
        }

        label {
            cursor: pointer;
        }
    }
    
}