.Footer{
    position: relative;
    z-index: 100;
    background: $black;
    padding: 2.5rem $padding-body;
    display: flex;
    color:$light-green;
    font-size: .75rem;

    .Footer-Section {
        padding:0 0.75rem;
        flex-grow: 1;
        width: 33.33333%;
        border-right: 1px solid $light-green;

        &:last-child {
            border:none;
        }
    }

    .Footer-Item {
        margin-bottom: 2rem;
        &:last-child {
            margin: 0;
        }
    }

    .item-title {
        font-weight: bold;
        margin-bottom: .8rem;
        .item-message {
            font-weight: normal;
            font-style: italic;
            font-size: .7rem;
        }
    }

    .line {
        display: inline-block;
        margin: .25rem 0 ;
    }

    .line-text {
        color: $white;
    }

    .line-icon {
        display: inline-block;
        width: .6rem;
        margin-right: .15rem;
        &.redes{
            margin: .6rem;
            width: 2.5rem;
            height: 2.5rem;
            &:hover {
                opacity: .8;
                transform: scale(1.1)
            }
        }
    }

    .line-title{
        color: $light-green;
        text-decoration: none;
        display: inherit;
        text-transform: uppercase;
    }

    a.item-title, a.item-title:hover {
        color: $white;
    }
}