a.underline {

    &:after {
        content: "";
        display: block;
        width: 60%;
        height: 1px;
        background: transparent;
        position: relative;
        left: -50%;
        transition: .3s ease;
    }


    &:hover{
        color:$light-green;
        &:after{
            background: $light-green;  
            left: 0;  
        }
    }

    &.center:after{
        margin: auto;
    }
}

img.gray-scale {
    filter: grayscale(100%) brightness(120%);
}