a.underline {

    &:after {
        content: "";
        display: block;
        width: 60%;
        height: 1px;
        background: transparent;
    }

    &:hover{
        color:$light-green;
        &:after{
            background: $light-green;    
        }
    }

    &.center:after{
        margin: auto;
    }
}

img.gray-scale {
    filter: grayscale(100%) brightness(120%);
}