.page_item a,
a.underline {
    text-decoration: none !important;
    &:after {
        content: "";
        display: block;
        width: 60%;
        height: 1.2px;
        background: transparent;
        position: relative;
        left: -50%;
        transition: .3s ease;
    }


    &:hover{
        color:$light-green;
        &:after{
            background: $light-green !important;
            left: 0;  
        }
    }
}

.page_item a:after,
a.underline.center:after {
    margin: auto;
}

img.gray-scale {
    filter: grayscale(100%) brightness(120%);
}

.hidden {
    display:none;
}

.text-white {
    color: $white;
}

.text-blue {
    color: $ligth-blue;
}

.text-green {
    color: $light-green;
}

.Over {
    background-color: $white;
    position: relative;
    z-index: 100;
}

.Section-Container,
.Header-Container,
.Footer-Container {
    height: 100%;
    max-width: $body-max-width;
    margin: auto;
    width: 100%;
}

.Header-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}