
.Header {

    height: 4rem;
    padding: 0 $padding-body-phone;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 300;
    width: 100%;
    transition: all 0.2s ease-in-out;

    @include query('tablet-small'){
        padding: 0 $padding-body-desktop;
    }

    @include query('tablet-wide'){
        height: 6rem;
    }

    .Logo {
        
        height: 1.8rem;
        @include query('phone-small'){
            height: 2.5rem;
        }
        @include query('tablet-wide'){
            height: 3.5rem;
        }
        img {
            height: 100%;
            width: auto;
        }
    }

    .Menu {

        flex-grow: 1;
        
        .Menu-Dropdown {

            display: block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            float: right;

            svg {
                fill: $light-green;
            }
        }


        .Menu-Container{
            
            
            display: block;
        
            @include query('tablet-wide', max){
                display: none;
            }
            
            ul {
                list-style-type: none;
                padding: 0;
            }

            a {
                font-weight: bold;
                color:$white;
                text-decoration: none;
                display: inline-block;
                padding: .25rem 1.25rem;
            }
        }

        @include query('tablet-wide'){
            .Menu-Dropdown {
                display: none;
            }

            .Menu-Container, .Menu-Container > ul {
                display: flex !important;
                justify-content: flex-end;
            }
        }

        .Menu-Close {
            display: none;
        }

        &.Show-Menu {
            @include query('tablet-wide', max){
                .Menu-Container {
                    display: none;
                    position: absolute;
                    z-index: 10000;
                    background: $light-green;
                    width: 100%;
                    left: 0;
                    top: 4rem;
                    height: calc(100vh - 50px);
                    padding: 4rem;
                    text-align: center;
                    text-transform: uppercase;
                }

                li {
                    position: relative;
                    background: $light-green;
                    z-index: 10000;
                }

                .Menu-Close {
                    position: absolute;
                    z-index: 1;
                    width: 70px;
                    bottom: 4rem;
                    height: 70px;
                    left: 50%;
                    margin-left: -35px;
                    cursor: pointer;
                    display: block;
                    z-index: 10000;

                }

                a {
                    //mobile
                    color: white;
                    display: block;
                    padding: 20px;
                    border-bottom: 2px solid;
                    &:hover {
                        color: $ligth-blue;
                    }
                }
            }
        }   
    }

    #White-Logo {
        height: 100%;
        display: block;
    }

    #Color-Logo {
        height: 100%;
        display: none;
    }

    &.white { 
        @include white-bar-menu;
    }

    @include query('tablet-wide', max){
        @include white-bar-menu;
        .Menu {
            a {
                color: $white !important;
                &:hover {
                    color: $ligth-blue !important;
                }
            }
        }
    }


    #Call {
        
        position: fixed;
        top: -100vh;
        //padding: 0 1rem 0 1.5rem;
        width: 100%;
        padding: 4px;
        font-family: $font-title;
        transition: all 0.3s ease-in-out;
        right: 0;
        z-index: 10000;
        font-size: .8rem;
        //background: #021b2dad;
        background: $light-green;
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 1rem 1.5rem;

        &.show {
            top: 0
        }

        .line-icon{
            display: none;
        }

        .Call-Complement {
            display: inline-block;
            text-align: center;
            span {
                display: block;
            }
        }

        #Call-Close {
            width: 40px;
            margin: 20px auto;
        }

        .Call-Text {
            color:$white;
            text-decoration: none;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;   

        }

        #Call-Head {
            text-align: center;
            color: $white; 
            position: absolute;
            top: calc(100vh + 4rem);
            background: $light-green;
            display: block;
            padding: 2px;
            width: 100%;
            left: 0;
            #Call-Head-Tab {
                width: 40px;

                display: flex;
                justify-content: center;
                position: absolute;
                right: 50%;
                background: #00afb7;
                margin-right: -20px;
                border-radius: 0 0 6px 6px;
                top: 16px;
                z-index: -1;
            }

            .line-icon{
                display: block !important;
            }
        }

        @include query('tablet-wide') {
            padding: 1rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            height: 3.15rem;
            box-shadow: -7px 10px 36px -6px #3e3e3e4d;
            justify-content: flex-start;
            top: 7rem !important;
            right: -20.75rem;
            width: auto;
            font-weight: bold;
            border-radius: .5rem 0 0 .5rem;

            &.show {
                top: 7rem !important;
            }

            .line-icon{
                display: block;
            } 

            #Call-Head,
            #Call-Close {
                display: none;
            }

            .Call-Text {
                display: flex;
                flex-direction: row;   
            }

            .Call-Complement {
                display: inline-block;
                width: 20.75rem;
                padding-right: 3.5rem;
                visibility: hidden;
                span {
                    display: inline
                }
            }
            &:hover {
                right: 0; 
                height: 5rem;
                .line-icon,
                .Call-Title{
                    display: none;
                }
                
                .Call-Complement{
                    text-align: right;
                    visibility: initial;
                    width: 42rem !important;
                }
            }

            
        }

        
    }
}

.Main-Section {
    height: calc(100vh - 50px);
    max-height: 1000px;
    min-height: 450px;
    @include query('tablet-wide'){
        height: calc(100vh);
    }
}

.bold {
    font-weight: bold;
}

#Lang {
    position: fixed;
    top: 7rem;
    right: 50%;
    width: 7rem;
    overflow: hidden;
    border-radius: 10px;
    margin-right: -3.5rem;
    box-shadow: -7px 10px 36px -6px #3e3e3e4d;

   // @include query('tablet-wide'){
        right: 0;
        margin: auto;
        z-index: 1000;
        
        border-radius: 10px 0 0 10px;
   // }

    @include query('tablet-wide'){
            top: 11rem;
    }

    .Lang-Group {
        display: flex;
        height: 100%;
        padding: 3px;
        justify-content: space-between;
        background: $white;

        a {
            padding: 3px;
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    .Lang-Text{
        display: none;
    }

    //@include query('tablet-wide'){
        width: 8rem;
        .Lang-Text{
            display: block;
            height: 100%;
            background: white;
            padding: 10px;
            font-size: .7rem;
            color: $ligth-blue;
        }

        .Lang-Group {
            display: none;
        }

        &:hover {
            .Lang-Text{
                display: none;
            }       

            .Lang-Group {
                display: flex;
            }
        }
    //}
}