
.Header {
    height: 6.5rem;
    padding: 0 $padding-body-phone;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 300;
    width: 100%;
    transition: all 0.2s ease-in-out;

    @include query('tablet-small'){
        padding: 0 $padding-body-desktop;
    }

    .Logo {
        
        height: 1.8rem;
        @include query('phone-small'){
            height: 2.5rem;
        }
        @include query('tablet-small'){
            height: 3.5rem;
        }
        img {
            height: 100%;
            width: auto;
        }
    }

    .Menu {

        flex-grow: 1;
        
        .Menu-Dropdown {

            display: block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            float: right;

            svg {
                fill: $white;
            }
        }

        ul{
            display: none;
            list-style-type: none;

            a {
                font-weight: bold;
                color:$white;
                text-decoration: none;
                display: inline-block;
                padding: .25rem 1.25rem;
            }
        }

        @include query('tablet-wide'){
            .Menu-Dropdown {
                display: none;
            }

            ul {
                display: flex;
                justify-content: flex-end;
            }
        }
            
    }

    &.white { 
        background-color: $white;
        box-shadow: 1px 1px 10px 4px #3e3e3e4d;
        .Menu {
            a {
                color:$blue;
                &:hover {
                    color:$light-green;
                }
            }
        }

        .Menu-Dropdown svg{
            fill: $ligth-blue;
        }
    }

    #Call {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 9rem;
        padding: 0 1rem 0 1.5rem;
        border-radius: .5rem 0 0 .5rem;
        background: $light-green;
        font-family: $font-title;
        transition: all 0.3s ease-in-out;
        right: -20.75rem;
        height: 3.15rem;
        box-shadow: -7px 10px 36px -6px #3e3e3e4d;
        align-items: center;
        
        @include query('tablet-wide') {
            display: flex;
        }

        .Call-Text {
            color:$white;
            text-decoration: none;
        }

        .Call-Complement {
            
            display: inline-block;
            width: 20.75rem;
            padding-right: 3.5rem;
            visibility: hidden;
            /*@include query('desktop-extra-large') {
                visibility: initial;
                width: auto;
                padding-right: 1rem;
            }*/
            
        }

        &:hover {
            right: 0; 
            .Call-Complement{
                visibility: initial;
            }
        }
    }
}

.Main-Section {
    height: calc(100vh - 50px);
    max-height: 1000px;
    min-height: 300px;
    @include query('tablet-wide'){
        height: calc(100vh);
    }
}