
.Header {

    height: 4rem;
    padding: 0 $padding-body-phone;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 300;
    width: 100%;
    transition: all 0.2s ease-in-out;

    @include query('tablet-small'){
        padding: 0 $padding-body-desktop;
    }

    @include query('tablet-wide'){
        height: 6rem;
    }

    .Logo {
        
        height: 1.8rem;
        @include query('phone-small'){
            height: 2.5rem;
        }
        @include query('tablet-wide'){
            height: 3.5rem;
        }
        img {
            height: 100%;
            width: auto;
        }
    }

    .Menu {

        flex-grow: 1;
        
        .Menu-Dropdown {

            display: block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            float: right;

            svg {
                fill: $light-green;
            }
        }


        ul{
            
            list-style-type: none;
            display: block;
        
            @include query('tablet-wide', max){
                display: none;
            }
            

            a {
                font-weight: bold;
                color:$white;
                text-decoration: none;
                display: inline-block;
                padding: .25rem 1.25rem;
            }
        }

        @include query('tablet-wide'){
            .Menu-Dropdown {
                display: none;
            }

            ul {
                display: flex !important;
                justify-content: flex-end;
            }
        }

        .Menu-Close {
            display: none;
        }

        &.Show-Menu {
            @include query('tablet-wide', max){
                ul {
                    display: none;
                    position: absolute;
                    z-index: 10000;
                    background: $light-green;
                    width: 100%;
                    left: 0;
                    top: 4rem;
                    height: calc(100vh - 50px);
                    padding: 4rem;
                    text-align: center;
                    text-transform: uppercase;
                }

                li {
                    position: relative;
                    background: $light-green;
                    z-index: 10;
                }

                .Menu-Close {
                    position: absolute;
                    z-index: 1;
                    width: 70px;
                    bottom: 4rem;
                    height: 70px;
                    left: 50%;
                    margin-left: -35px;
                    cursor: pointer;
                    display: block;
                }

                a {
                    //mobile
                    color: white;
                    display: block;
                    padding: 20px;
                    border-bottom: 2px solid;
                    &:hover {
                        color: $ligth-blue;
                    }
                }
            }
        }   
    }

    #White-Logo {
        height: 100%;
        display: block;
    }

    #Color-Logo {
        height: 100%;
        display: none;
    }

    &.white { 
        @include white-bar-menu;
    }

    @include query('tablet-wide', max){
        @include white-bar-menu;
    }

    #Call {
        display: flex;
        position: fixed;
        z-index: 1000;
        top: 4rem;
        padding: 0 1rem 0 1.5rem;
        width: 100%;
        
        font-family: $font-title;
        transition: all 0.3s ease-in-out;
        right: 0;
        height: 2rem;
        align-items: center;
        justify-content: center;

        font-size: .8rem;
        background: #021b2dad;
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        
        @include query('phone') {
            font-size: 1rem;
            height: 2.5rem;
        }

        @include query('tablet-wide') {
            height: 3.15rem;
            box-shadow: -7px 10px 36px -6px #3e3e3e4d;
            background: $light-green;
            font-weight: bold;
            justify-content: flex-start;
            top: 7rem;
            right: -20.75rem;
            width: auto;
            border-radius: .5rem 0 0 .5rem;
            &:hover {
                right: 0; 
                .Call-Complement{
                    visibility: initial;
                }
            }

            .Call-Complement {
                display: inline-block;
                width: 20.75rem;
                padding-right: 3.5rem;
                visibility: hidden;
            }
        }

        .Call-Text {
            color:$white;
            text-decoration: none;
        }

        
    }
}

.Main-Section {
    height: calc(100vh - 50px);
    max-height: 1000px;
    min-height: 300px;
    @include query('tablet-wide'){
        height: calc(100vh);
    }
}