.News {
    
    background-attachment: fixed;
    background-position: top center;
    background-size: 100vw auto ;
    overflow: hidden;

    .Section-Container{

        > p {
            text-align: center;
            margin: 0;
        }

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left:0;
            background: $light-green;
            mix-blend-mode: multiply;
            z-index: -1;
        }

        .Circles {
            position: inherit;
            .Circle-Item {
                border: 1px solid gray;
                &.active {
                    border: none;
                }
            }
        }

        .News-Container {

            &:after {
                content : "";
                display: block;
                position: absolute;
                width: 100vw;
                height: 100vh;
                background: $white;
                left: 50%;
                top: 50%;
                margin-left: -50vw;
                z-index: -1;
            }

        }

        .Flip-Card-Container {
            overflow: hidden;
            height:50vh;
            width:60%;
            margin: 4rem auto 1rem;
            display: flex;
            justify-content: space-between;
            position: relative;
            max-height: 300px;
            max-width: 250px;

            @include query('tablet'){
                min-width: 700px;
                max-height: 600px;
            }            

            .New {

                width: 100%;
                height: 100%;
                background-position: top left;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                transition: left 1s ease; 

                &:nth-child(2) {
                    left: 100%;
                }

                &:last-child {
                    left: 200%;
                }

                @include query('tablet'){
                    margin: .25rem;
                    width: 33.3333%;
                    position: static;
                    transition: none;
                }
            }
        }

        .Ver-Mas {
            margin: 2.5rem 0;
            text-align: center;
            width: 100%;
            a {
                padding: 5px 15px;
                border: 1px solid;
                &:hover {
                    color: $white;
                    background: $light-green;
                    text-decoration: none;
                }
            }
        }
    }
}