.Related {
    
    padding: 15px 120px 15px;
    height: 12rem;
    box-shadow: 1px 2px 15px 1px #4242425e;

    div {
        max-width: 40rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    img {
        margin: 0 1rem;
        max-height: 100px;
    }
}