.Related {
    
    padding: 0 120px 15px;
    height: 12rem;
    div {
        max-width: 40rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 25%;
        margin: 0 1rem;
        max-height: 150px;
    }
}