.Services > section {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Services, .News{
    display: flex;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center; 
    background-attachment: fixed;
}

