.Services {
    
    
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center; 
    background-attachment: fixed;

    .Section-Container{
    
        overflow: hidden;
        display: flex;
        justify-content: space-between;

        .Description, .List {
            
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: $white;
            width: 100%;
            flex-basis: 100%;
            @include query('desktop'){
                width: 50%;
                flex-basis: 50%;
            }
        }

        .Description {
            position: absolute;
            padding: 120px 25px 120px $padding-body-phone;
            transition: 1s ease;
            height: 100%;
            z-index: 20;
            left: 0;

            @include query('tablet-small'){
                padding: 120px 25px 120px $padding-body-desktop;
            }

            @include query('desktop'){
                position: relative;
                height: auto;
            }
            
            &.hide {
                left:100%;
            }
        }

        .List {
            z-index: 10;
            padding: 120px $padding-body-desktop 120px 25px;
            
            .List-Description {
                text-align: center;
                color: $light-green;
                font-style: italic;
            }
        }

        #Services-Nav{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
            }


            li {
                list-style: none;
                margin: .8rem 1.5rem;
                @include query('desktop-wide'){
                    margin: .8rem 2rem;
                }
            }

            img {
                height: 100%;
            }

            .Service-Item-Close{
                color: white;
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5rem;
                transform: scale(0);
            }

            img.Service-Item-Image-White {
                transform: scale(1);
                visibility: hidden;
            }

            a,
            a img,
            a .Service-Item-Close{
                transition: transform .7s ease;
            }

            a {
                position: relative;
                display: block;
                text-align: center;
                width: 7rem;
                height: 7rem;
                text-decoration: none;
                padding: 0.75rem;
                border-radius: 10%;
                
                &:hover, &.clicked {
                    transform: scale(1.2);
                    background: $light-green;
                    .Service-Item-Image-Color {
                        display: none;
                    }

                    .Service-Item-Image-White {
                        visibility: visible;
                    }
                }

                &.clicked {
                    .Service-Item-Close{
                        transform: scale(1)
                    }
                    .Service-Item-Image-White {
                        transform: scale(0);
                    }
                }
            }

            
        }
    }
}