.Clients{
    background-color: $light-green !important;
    overflow: hidden;

    .Client-List{
        width: 150%;
        height: 100px;

        .Icon {
            height: 100%;
            padding: 25px;
            width: 16.6666%;
            float: left;
            text-align: center;
        }

        img {
            height: 100%;
            width: auto;
        }
    }
}