.Footer{
    position: relative;
    z-index: 10;
    background: $black;
    padding: 50px $padding-body;
    display: flex;
    color:$light-green;

    .Footer-Section {
        padding:0 15px;
        flex-grow: 1;
        width: 33.33333%;
        border-right: 1px solid $light-green;

        &:last-child {
            border:none;
        }
    }

    .Footer-Item {
        margin-bottom: 40px;
        &:last-child {
            margin: 0;
        }
    }

    .item-title {
        font-weight: bold;
        margin-bottom: 10px;
        .item-message {
            font-weight: normal;
            font-style: italic;
            font-size: .8rem;
        }
    }

    .line {
        display: inline-block;
        margin: 5px 0 ;
    }

    .line-text {
        color: $white;
    }

    .line-icon {
        display: inline-block;
        width: 12px;
        margin-right: 3px;
        &.redes{
            margin: 12px;
            width: 50px;
            height: 50px ;
        }
    }

    .line-title{
        color: $light-green;
        text-decoration: none;
        display: inherit;
        text-transform: uppercase;
    }

    a.item-title, a.item-title:hover {
        color: $white;
    }
}